/*--Default Formatting*/
div.a{
		line-height: 2;
		font-size: 15px;
		font-family: sans-serif;
	}
.center{
		text-align: center;
	}

p { 
		line-height: 2;
		font-size: 15px;
		font-family: sans-serif;
}		

body{ 
		background-color: red;

}


